:root {
  --primary-color: #353d60;
  --secondary-color: #f5756b;
  --text-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Lato');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-left: 200px;
  margin-right: 200px;
}

.container {
  margin-top: 60px;
  margin-bottom: 30px;
}

.title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 20px;
}

