:root {
  --primary-color: #353d60;
  --secondary-color: #f5756b;
  --text-color: white;
}

@import url('https://fonts.googleapis.com/css2?family=Lato');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-left: 200px;
  margin-right: 200px;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.header {
  justify-content: space-between;
}

.title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 20px;
}

text {
  fill: var(--text-color);
}


path {
  fill: none;
  stroke: var(--secondary-color);
  stroke-width: 1.5pt;
}

circle {
  fill: none;
  stroke: var(--secondary-color)
}

.tick text {
  font-size: 10pt;
}