:root {
  --primary-color: #353d60;
  --secondary-color: #f5756b;
  --text-color: white;
  --overlay-color: #353d60d2;
}

@import url('https://fonts.googleapis.com/css2?family=Lato');
body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 14pt;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--primary-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  margin-left: 12%;
  margin-right: 12%;
}

.container {
  padding-top: 10px;
  padding-bottom: 10px;
}

.row {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}

.stretch-row {
  justify-content: space-between;
}

.title {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 20px;
}

text {
  fill: var(--text-color);
}


path {
  fill: none;
  stroke: var(--secondary-color);
  stroke-width: 1.5pt;
}

circle {
  fill: transparent;
  stroke: var(--secondary-color)
}

.tick text {
  font-size: 10pt;
}

.rangeOption {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: var(--secondary-color);
  border-style: solid;
  color: var(--text-color);
  cursor: pointer;
  transition-duration: 300ms;
}

.rangeOption:hover:not(.current) {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  filter: brightness(130%);
  font-weight: bold;
  transition-duration: 400ms;
}

.rangeOption.current {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0px;
  transition-duration: 200ms;
}

.predictButton {
  background-color: var(--primary-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border-color: var(--secondary-color);
  border-style: solid;
  color: var(--text-color);
  cursor: pointer;
  transition-duration: 300ms;
}

.predictButton:hover:not(.current) {
  background-color: var(--primary-color);
  color: var(--primary-color);
  filter: brightness(150%);
  font-weight: bold;
  transition-duration: 400ms;
}

.predictButton.current {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  font-weight: bold;
  padding: 0px;
  transition-duration: 200ms;
}

.tip {
  background-color: var(--overlay-color);
  color: var(--text-color);
  font-size: 9pt;
  padding: 5px;
  border-radius: 5px;
}

@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: scale(.3);
  }

  50% {
    opacity: 0.7;
    transform: scale(0.9);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.tip.animate {
  animation: bounceIn 0.2s ease-out;
}

.focus-line {
  stroke: var(--secondary-color);
  stroke-width: 1px;
  stroke-dasharray: 2, 2;
}

@media screen and (max-width: 1024px) {
  #root {
    margin-left: 8%;
    margin-right: 8%;
  }
}

@media screen and (max-width: 768px) {
  #root {
    margin-left: 2%;
    margin-right: 2%;
  }

  body {
    font-size: 12pt;
  }

  .title {
    font-size: 40px;
    letter-spacing: 12px;
  }

  .row {
    gap: 20px;
  }
}

@media screen and (max-width: 480px) {
  .tick text {
    font-size: 8pt;
    letter-spacing: -0.2pt;
  }
}